@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

.Header {
    background-color: #F9E0AE;
    ;
    display: flex;
    align-items: center;
    padding: 32px 32px 8px 80px;
    top: 0;
    position: sticky;
    cursor: pointer;

}

.LeftHeader {
    display: flex;;
    justify-content: flex-start;
}

.RightHeader {
    display: flex;
    width: 70%;
    justify-content: space-evenly;

}

.HeaderButton {
    background-color: #C24914;
    border-radius: 12px;
    border: none;
    width: 150px;
    height: 39px;
    flex-shrink: 0;
}

.MainButton {
    width: 200px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #682C0E;
    border: none;
}

.Text {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Heading {
    color: #000;
    font-family: Jim Nightshade;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Main,
.Course,
.Register {
    display: flex;
    height: 550px;
    align-items: center;
    padding-left: 80px;
}

.LeftMain {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button,input {
    cursor: pointer;
}

.Info {
    width: 240px;
    height:56px;
    flex-shrink: 0;
    text-align: center;
    border: none;
}

.MainInfo {
    height: 136px;
    display: flex;
    justify-content: space-evenly;
    background: #F9E0AE;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.Footer{
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    align-items: center;
    background: #F9E0AE;
    height: 440px;
}

.FooterImg{
    width: 180px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}